@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&family=Montserrat+Alternates&display=swap');

:root{
    --cor-primaria :#000000;
    --cor-secundaria :#f6f6f6;
    --cor-terciaria : #22d4fd;
    --cor-quartearia : #272727;
}

*{
    margin: 0;
    padding: 0;
}

body{
   /* height: 100vh;*/
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
.titulo-destaque{
    color:var(--cor-terciaria);
}
.cabecalho{
    padding: 5% 0% 0% 10%;
}
.cabecalho_menu{
    display: flex;
    gap: 60px;
}
.cabecalho_link{
    font-family:'Montserrat', sans-serif ;
    font-size: 2.25rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    padding: 2%;
    text-decoration: none;
}
.apresentacao{
    padding:8% 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apimage{
    width: 50%;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.apresentacao__conteudo__titulo{
    font-size: 2rem;
    font-family: 'Krona One', sans-serif;
}
.apresentacao__conteudo__paragrafo{
    font-size: 1.12rem;
    font-family:'Montserrat', sans-serif;
}
.botao_redessociais{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    }
.subtitulo{
    font-family: 'krona one','sanserif';
    font-weight: 400;
    font: size 1.5rem;
}
.estilobt{
    /* toda estilização dos botoes e alinhamento deles*/
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.estilobt:hover{
    /* para destacar o botão */
    background-color: var(--cor-quartearia);
    padding:3%;
}
.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 15px;
    text-align: center;
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
@media (max-width: 1200px) {
    .cabecalho{
        padding: 10%;
    }
    .cabecalho_menu{
       justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 4%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
  
}